.cuadrado {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.cuadrado.rojo {
    background: red;
}

.cuadrado.azul {
    background: blue;
}

.cuadrado.amarillo {
    background: yellow;
}