
.container {
    margin-top: 3%;
}

.btn {
    background-color: cadetblue;
}

    
.nav-link {
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    }