<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<main>

        <div className="box4">
            <div className="card1">
                <h2>Tortas</h2>
                <img src="../public/images/tortas.jpeg" width="300" alt="Tortas">
              </div>
            <div className="card1">
                <h2>La Hora del Té</h2>
                <img src="../public/images/combos.jpeg" width="300" alt="Pastelería miniatura">
              </div>
         </div>
    </main>