/*Inicio Contacto*/
.box5 {
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif
  }
  /*Fin Contacto*/